allure-pytest==2.9.44
allure-python-commons==2.9.44
atomicwrites==1.4.0
attrs==21.2.0
colorama==0.4.4
execnet==1.9.0
iniconfig==1.1.1
mpmath==1.2.1
numpy==1.21.2
packaging==21.0
pluggy==1.0.0
py==1.10.0
pyparsing==2.4.7
pytest==6.2.5
pytest-forked==1.3.0
pytest-xdist==2.4.0
six==1.16.0
sympy==1.8
toml==0.10.2
